<div class="container" style="max-width:600px">

	<div class="page-header">
		<div class="row">
			<div class="col-md-6">
				<h3>Tus dispositivos </h3>
			</div>
			<div class="col-md-6 text-right">
				Agregar más <a href="#/add-device" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus"></i></a>
			</div>
		</div>

	</div>


	<form>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Buscar dispositivo.." ng-model="search">
			<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		</div>
	</form>
	<br>
	<accordion close-others="oneAtATime">
		<accordion-group ng-repeat="eq in equipos | filter:search">
			<accordion-heading>
				{{eq.nombre}} ({{eq.id}}) <i class="glyphicon glyphicon-chevron-down pull-right"></i>
			</accordion-heading>
			<h4>Variables sensadas</h4>
			<form class="form-inline" ng-repeat="var in eq.variables">
				<div class="form-group">
					<label>Variable: </label>
					<select class="form-control" placeholder="Escoge una variable">
					</select>
				</div>
				<div class="form-group">
					<label>Pines: </label>
					<input type="text" class="form-control" placeholder="P.ej: a0,a1,a2..an">
				</div>
				<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i></button>
			</form>
			<br>
			<button class="btn btn-default btn-sm">+ Agregar Variable</button>
			<button class="btn btn-danger btn-sm" ng-click="deleteDevice(eq.id)">Eliminar dispositivo</button>
		</accordion-group>
	</accordion>

</div>
