<div class="container" style="max-width:600px">

	<div class="page-header"><h3>Configuración</h3></div>

	<h4 class="page-header">Idioma</h4>
	<form class="form-inline">
		<div class="form-group">
			<select class="form-control">
				<option>Español</option>
			</select>
		</div>
		<button type="submit" class="btn btn-success">Cambiar</button>
	</form>

	<h4 class="page-header">Cambiar contraseña</h4>
	<form class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Contraseña actual">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Contraseña nueva">
		</div>
		<button type="submit" class="btn btn-success">Cambiar</button>
	</form>
</div>